.container-top {
  padding-top: 4rem;
}

.empty-card {
  height: 26rem;
}

.center-spinner {
   margin: auto;
}

.description {
  color: #777777;
}

.img-min {
  min-width: 2rem;
  padding-right: 8px;
}